<section id="about-wrap" class="body ui-box">
	<%= render 'menu_account' %>
	
	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Editer vos photos</h1>
				<p>Ces photos seront visibles sur votre profil.</p>
			</div>
			
			
			<%if current_user.pro.pictures.exists?%>
				<%= image_tag @pictures.avatar.url(:small)%>
				<%= form_for(@pictures, :html => { :multipart => true }) do |f| %>
					  <%= f.label :image %>
			  		<%= f.file_field :image %>
				  <p><%= f.submit "Modifier" %></p>
				<% end %>
			
			<%else%>
			
<%= form_for(@picture, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.file_field :avatar %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
			<%end%>
		</article>
	</div>
</section>
