	<nav id="about-sidebar">
		<ul>
			<li >
				<%= link_to 'A propos', company_about_path() %>
			</li>
			<li>
				<%= link_to 'Equipe', company_equipe_path() %>
			</li>
			<li>
				<%= link_to 'Logos', company_logo_path() %>
			</li>
			<li>
				<%= link_to 'La presse', company_presse_path() %>
			</li>
			<li>
				<%= link_to 'Contact', company_contact_path() %>
			</li>
			<li class="last">
				<%= link_to 'Recrutement', company_carriere_path() %>
			</li>
		</ul>
	</nav>