<!DOCTYPE html>
<html>
<head>

  <title>Choopro - <%= yield(:title) || "Place de marché des services" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="top-header">
		<div id="header" class="container">
			<h1 id="logo">
				<a href="/">
				<span>Choopro</span>
				</a>
			</h1>
			<nav>
				<ul id="menu-main">
					<li id="menu-main-discover">
						<a href="/discover">
						<strong>Trouver</strong>
						<span>un professionnel</span>
						</a>
					</li>
					<li id="menu-main-fund">
						<a href="/start">
						<strong>Cr&eacute;er</strong>
						<span>un profil</span>
						</a>
					</li>
				</ul>
			</nav>
			<form class="search" method="get" action="/projects/search" accept-charset="UTF-8">
				<div style="margin:0;padding:0;display:inline">
					<input type="hidden" value="?" name="utf8" autocomplete="off">
				</div>
				<div class="field search">
					<span class="icon-search"></span>
					<span class="icon-search-clear"></span>
					<input id="term" class="input-search header text" type="text" name="term" data-tracker-name="Header Live Search" autocomplete="off">
					<span class="icon-search-nipple"></span>
				</div>
			</form>
			<ul id="authentication">
				<li id="menu-sub-blog">
					<a href="/blog">Blog</a>
				</li>
		        <% if user_signed_in? %>

		          <li class="user">
		          	<a><%= current_user.first_name %></a>
		          	<div id="dropdown-menu" class="selected">
		          	<ol>
			         <%if current_user.pro.present? %>
			          	  <li>
				          	<%= link_to 'Voir votre profil', current_user.pro %>
				          </li>
			         	  <li>
				          	<%= link_to 'Editer votre profil', edit_profil_url(current_user.pro) %>
				         </li> 
				      <%else%>
			         	  <li>
				          	<%= link_to 'Créer un profil', new_pro_path() %>
				         </li> 
			         <% end%>
			          <li>
			          	<%= link_to "Déconnection", destroy_user_session_path , :method => :delete%>
			          </li>
			        </ol>
		          </div>
		          </li>
		          
		        <% else %>
					<li>
						<%= link_to "Inscription", new_user_registration_path %>
					</li>
					<li>
						<%= link_to "Connexion", new_user_session_path %>
					</li>
				<% end %>
			</ul>

		</div>
	</section>
	<section id="choice-jobs" style=" min-width: 980px;">
	<ul class="body">
		<li><a href="">Cours et coaching</a></li>
		<li><a href="">Ev&egrave;nementiel</a></li>
		<li><a href="">Maison et jardin</a></li>
		<li><a href="">Business</a></li>
		<li><a href="">Voyage</a></li>
		<li><a href="">Famille</a></li>
		<li><a href="">Technologie et design</a></li>
		<li><a href="">Soins et beaut&eacute;</a></li>
		<li><a href="">Automobile</a></li>
	</ul>

	</section>
	
	
        
<%= yield %>

<footer id="contentinfo" >
	<div class="body">

		<ul>
			<li role="copyr">&copy; 2011 Choopro, SAS. Tout droits reserv&eacute;s.</li>
			
			<li>
				<%= link_to 'A propos', company_about_path() %>
			</li>
			<li>
				<a href="/signup">Blog</a>
			</li>
			<li>
				<a href="/site/about_us">Faq</a>
			</li>
			<li>
				<a href="/tos">Condition d'utilisation</a>
			</li>
			<li>
				<a href="/privacy">mentions l&eacute;gales</a>
			</li>
			<li>
				<%= link_to 'Contact', company_contact_path() %>
			</li>
		</ul>
	</div>
</footer><!-- /#contentinfo -->
</body>
</html>
